.product {
    display: flex;
    flex-grow: 1;
  width: 100%;
    padding: 2.4vh;
    column-gap: 32px;
    color: var(--light);
    background-color: #f1f1f1;
    border-radius: 1vh;
    
  }
  .maincontainer {
    margin: 2vh 7vw;
  }
  
  .info {
    display: flex;
    flex-direction: column;
  }
  
  .images {
    display: flex;
    gap: 2vh;
  }
  
  .current {
    width: 25vw;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1vh;
  }
  
  .images-list {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
  }
  
  .image {
    width: 10vh;
    height: 10vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1vh;
    cursor: pointer;
  }
  
  .title {
    font-size: 200%;
    line-height: 1vh;
    font-weight: 400;
    color: var(--bg);
  }
  
  .price {
    font-weight: 400;
    font-size: 130%;
    line-height: 2vh;
    margin: 1vh 0 2vh 0;
    color: green
  }
  
  
  .sizes {
    font-size: 100%;
    line-height: 2vh;
    text-transform: capitalize;
    display: flex;
    column-gap: 2vh;
    align-items: center;
  }
  
  .sizes {
    margin: 2vh 0;
  }
  
  .sizes span {
    font-size: 130%;
    line-height: 2vh;
    color: var(--bg);
  }
  
  .list {
    display: flex;
    align-items: center;
    column-gap: 0.5vh;
  }
  
  .size {
    padding: 4px 8px;
    border-radius: 8px;
    background: var(--bg);
    cursor: pointer;
    transition: background 1s ease;
  }
  
  .size:hover,
  .size.active {
    background: var(--blue);
  }
  
  .description {
    font-weight: 200;
    font-size: 100%;
    line-height: 2vh;
    color: var(--bg);
  }
  
  .actions {
    margin-top: 2vh;
    display: flex;
    column-gap: 1vh;
  
  }
  
  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 100%;
    line-height: 2vh;
    color: var(--bg);
    margin-top: auto;
  }
  .add{
    padding: 0.2vh 1.5vw;
  width: 20%;
    background: #000000;
    border-radius: 0.3vw;
  
    font-weight: 300;
    font-size: 120%;
    line-height: 1.5;
    letter-spacing: -0.05em;
    transition: background 0.5s ease;
    color: #fff;
    border: 0;
  }
  .add:hover{
    background: var(--blue);
    
  }
  .add:disabled {
    cursor: not-allowed;
    background: #828282;
    color: white;
  }
  
  .warning{
    color: #ad0000;
    font-weight: 500;
  }
  .clientForm{
    border: 0;
    font-weight: 500;
    cursor: pointer;
    margin-left: 0.5vw;
    color: var(--blue);
    text-decoration: underline;
  }
  .warning_container{
    display: flex;
    margin-top: 5vh;
  }
  .button {
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 0.3vh;
    padding: 1vh 2vh;
    margin-left: 1vw;
    margin-top: 1vh;
    cursor: pointer;
    font-size: 100%;
    transition: color 3s ease;
    transition: background-color 1s ease;
  }
  .link{
    font-size: 100%;
    border: 0;
    margin-left: 1vw;
    margin-bottom: 1vh;
    color: #000000;
    transition: color 0.5s ease;
  }
  .link:hover{
    cursor: pointer;
    color: var(--blue);
  }
  .button:hover {
    color: var(--blue);
    background-color: #373636;
  }
  .actions {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .label{
    padding-left: 1vw;
    margin-bottom: 1vh;
    color: var(--bg);
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    color: #000000;
    background: white;
    padding: 2rem;
    border-radius: 0.1vh;
    text-align: center;
  }
  
  .modalActions {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2rem;
   
  }
  
  .modalActions button {
    font-size: 100%;
    margin-right: 2vw;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.1vh;
    cursor: pointer;
    background-color: black;
    color: white;
    transition:color 0.5s ease;
    transition: background-color 0.5s ease;
  }
  
  .modalActions button:hover {
    background-color: #424242;
    color: var(--blue);
  }
  
  .modalCansel button {
    margin-right: 2vw;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.1vh;
    cursor: pointer;
    background-color: transparent;
    color: rgb(0, 0, 0);
    transition:color 0.5s ease;
  
  }
  
  .modalCansel button:hover {
    background-color: transparent;
    color: var(--blue);
  }.form {
    display: flex;
    flex-direction: column;
  }
  
  .group {
    width: 100%;
    
    color: var(--bg);
    padding: 0.1vh 0;
  }
  
  .input {
   
    background-color: #fff;
    font-size: 100%;
    margin: 1vh;
    margin-top: 0;
    padding: 0.8vh;
    border: 0;
    border-radius: 1vh;
    width: 100%;
    max-width: 40vw;
    max-height: 35vh;
  }
  
  
  .buttonGroup {
    display: flex;
    flex-direction:column-reverse;
    align-items: flex-end; /* Align buttons to the right */
    margin-top: auto; 
  }
  
  .info {
    display: flex;
    flex-direction: column;
    flex: 2; /* Take up remaining space */
}

.form {
    flex: 1; /* Take up remaining space */
    display: flex;
    flex-direction: column;
    margin-right: 20px; /* Add margin to separate from the actions */
}

.actions {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
     /* Add margin to separate from the form */
}
  