header {
	padding: 3vh 7vw 4vh; 
}

.header__row {
	
	flex-direction: row;
	align-items: center;
	justify-content:space-between;
}

.header__logo {
	display: flex;
	align-items: center;
	column-gap: 1.5vw; 
}

.header__logo span {
	font-weight: 500;
	font-size: 180%; 
	line-height: 1.5;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.header__nav {
  
  width: 100%;
	font-weight: 500;
	font-size: 120%; 
	line-height: 1.5;
	letter-spacing: 0.01em;
}

.header__nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
    text-wrap: nowrap;
}

.header__nav a {
	color: var(--text-color);
}

.header__nav-btn, a.header__nav-btn {
	padding: 0.3vw 1vw 0.5vw;
  
	background-color: #000;
	border-radius: 0.15vw; 
    
    transition: background-color 0.5s ease;
	font-weight: 300;
	font-size: 120%; 
	line-height: 1.5;
	letter-spacing: -0.03em;
    color: #fff;
}
.header__nav-btn:hover{
    background-color: #87CEFA;
    color: #000;
}

.user-label {
    display: flex;
    align-items: center; /* Выравниваем элементы по вертикали */
	font-weight: 600;
	display: flex;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	padding-bottom: 1vh;
	padding-top: 1vh;
	padding-left: 1vw;
	padding-right: 2.5vw;
	border-radius: 0.1vw;
	background-color: #f4f6f5;
}

.header__nav-btn{
    display: flex;
   
}
.header__nav-btn img {
    max-height: 1.5vw;
    margin-left: 0.5vw; 
    margin-right: 1vw;
}

.user-label span {
    margin-right: 5px; 
}
a {
    color: rgb(0, 0, 0); 
    transition: color 0.5s ease;
    text-decoration: none; 
}

a:hover {
    color: #87CEFA;
}


.myform {
    display: flex;
    align-items: center;
    background: var(--light);
    border-radius: 2vh;
    height: 2.5rem; 
    padding: 0 1rem; 
  
    width: 22vw;
    position: relative;
  }
  .icon{
    width:5%;
    margin-right: 5%;
  }
  .icon img{
    width: 90%;
    fill: var(--bg); 
  }
  
  .search {
    flex-grow: 1; 
  }
  
  .search input {
    font-family: Montserrat, Roboto, sans-serif;
    font-size: 0.875rem; 
    line-height: 1.25rem; 
    color: var(--grey); 
    background: none;
    outline: none;
    width: 100%;
    border: none; 
  }
  
  .box {
    color: white;
    z-index: 1;
    position: absolute; 
    top: calc(100% + 0.5rem); 
    left: 0;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    padding: 0.5rem; 
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem; 
    background:var(--bg);
    border-radius: 0.375rem; 
  }
  
  .box::-webkit-scrollbar {
    display: none; 
  }
  
  .item {
    font-size: 0.875rem; /* Размер текста */
     display: flex;
    align-items: center;
    column-gap: 0.5rem; /* Горизонтальный промежуток между элементами */
  }
  .item .title {
    color: rgb(192, 190, 190); /* Цвет текста */
   
  }
  .item:hover {
    color: rgb(255, 255, 255); /* Цвет текста при наведении */
  }
  
  .image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.375rem; /* Радиус скругления углов */
    height: 3rem; /* Высота изображения */
    width: 3rem; /* Ширина изображения */
  }
  