.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1vh;
  margin:2vh 0;
  padding: 1vh 2vw;
  background-color: #f1f1f1;
}
.logofooter{
  display: flex;
  
}
.logofooter h2{
  font-size: 100%;
  font-weight: 700;
}
.logo {
  width: 10vw;
}

.logo a {
  height: 100%;
}

.rights {
  color: var(--bg);
  font-size: 12px;
  line-height: 15px;
}

.rights a {
  color: #6361e0;
}

.socials {
  display: flex;
  gap: 1.5vh;
}

.socials svg {
  width: 3vh;
  height: 3vh;
  fill: var(--bg);
  transition: fill 0.5s ease;
}

.socials svg:hover {
  fill: var(--blue);
}
